
.title-about{
    color: white;
    text-align: center;
    padding-top:150px;
    padding-bottom: 150px;
}
.brand-title{
    color: #79bb2a;
}
.brand-line{
    background-color: #79bb2a;
}

@media only screen and (max-width: 767px) {

    .title-about{
        color: white;
        text-align: center;
        padding-top:50px;
        padding-bottom: 50px;
    }
}